# Python files
*.py[cod]
__pycache__
# Local env
.env
.venv
.linuxvenv
env/
venv/

# Hidden codes
.idea
.vscode
.bzr
.bzrignore
.DS_Store
.coverage

# Testing and deployment
htmlcov
invoke.yaml
odoo.conf
odoo.cfg
studio

# Odoo.sh modules
website_animate
theme_common
theme_graphene

# Odoo.sh modules
# Exclude parts except custom
/parts/*
/data
!/submodules/
