# Requirements
requirements.txt @code-owners
requirements-dev.txt @code-owners

# Linting
.coveragerc @code-owners
.editorconfig @code-owners
.eslintrc.yml @code-owners
.pre-commit-config.yaml @code-owners
.prettierrc.yml @code-owners
.pylintrc @code-owners
.pylintrc-mandatory @code-owners
.ruff.toml @code-owners

[config] @code-owners
/config/server_environment_files/kubernetes/
